@model List<EveFirstMate.Models.invMarketGroup>

@*@helper ShowTree(ICollection<EveFirstMate.Models.invMarketGroup> groups, int depth)
{
    var indent = depth.ToString() + "em";
    depth++;
    
    <ul>
        @foreach(var group in groups) 
        {
            if (group.invMarketGroups1.Any()) 
            {
                <li data-node-state="closed" style="text-indent: @indent">
                    @group.marketGroupName
                </li>
                <li class="closed" style="text-indent: @indent">
                    @ShowTree(group.invMarketGroups1, depth)
                </li>
            }
            else
            {
                <li data-group-leaf="true" data-leaf-state="closed" style="text-indent: @indent">
                    @group.marketGroupName
                </li>
                <li class="closed" style="text-indent: @indent">
                    @ShowLeaf(group.invTypes, depth)
                </li>
            }
        }
    </ul>
}

@helper ShowLeaf(ICollection<EveFirstMate.Models.invType> items, int depth)
{
    var indent = depth.ToString() + "em";
    
    <ul class="items">
        @foreach (var item in items)
        {
            <li data-item-typeid="@item.typeID" style="text-indent: @indent">@item.typeName</li>
        }
    </ul>
}*@

<script type="text/html" id="treeLeafList">
    <li data-bind="text: typeName, style: { textIndent: $parents.length + 'em' }"></li>
</script>

<script type="text/html" id="treeNodeList">
    <li data-bind="click: toggleGroup, clickBubble: false, style: { textIndent: $parents.length + 'em' }">
        <span data-bind="text: marketGroupName"></span>
        <!--ko if: isOpen-->
            <!--ko ifnot: hasTypes-->
                <ul data-bind="template: { name: 'treeNodeList', foreach: childMarketGroups }"></ul>
            <!--/ko-->
            <!--ko if: hasTypes-->
                <ul class="items" data-bind="template: { name: 'treeLeafList', foreach: invTypes }"></ul>
            <!--/ko-->
        <!--/ko-->
    </li>
</script>

<ul data-bind="template: { name: 'treeNodeList', foreach: marketGroups }"></ul>

@*<ul>
    @foreach (var group in Model)
    {
        <li data-node-state="closed">
            @group.marketGroupName
        </li>
        <li class="closed">
            @ShowTree(group.invMarketGroups1, 1)
        </li>
    }
</ul>*@
